@charset "UTF-8";

body {
    background-color: rgb(26, 26, 26);
    background-image: url('imagens/wallpaper006.jpg');
    text-align: center;
}

div.quadrado {
    border: 2px solid rgb(110, 109, 109);
    border-radius: 10px;
    width: 260px;
    height: 260px;
    display: inline-block;
    background-color: gainsboro;
}

div#q1 {
    margin: 10px;
    margin-top: 50px;
    padding: 5px;
    background-color: aliceblue;
}
#q1:hover {
    width: 290px;
    height: 290px;
    position: relative;
    transition-duration: 0.4s;
    border: 2px solid rgb(154, 26, 214);
}

div#q2 {
    margin: 10px;
    padding: 5px;
    background-image: linear-gradient(to bottom, gray, black);
    margin-top: 50px;
}

#q2:hover {
    width: 290px;
    height: 290px;
    position: relative;
    transition-duration: 0.4s;
    border: 2px solid rgb(155, 26, 214);
}

div#q3 {
    margin: 10px;
    padding: 5px;
    background-image: url('imagens/pattern003.png');
    margin-top: 50px;
}

#q3:hover {
    width: 290px;
    height: 290px;
    position: relative;
    transition-duration: 0.4s;
    border: 2px solid rgb(155, 26, 214);
}