@charset "UTF-8";

/* Aparelho em Pé (portrait) */

html, body {
    background-repeat: no-repeat;
}

body {
    background: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}